@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }

  .start-screen {
    width: 100%;
  }

  .headline-overlay {
    font-size: 32px;
  }

  .img-close-overlay {
    width: 52px;
    height: 52px;
  }

  .img-close-overlay:hover {
    width: 56px;
    height: 56px;
  }

  .overlay-content {
    width: 95%;
  }

  .controls-mobile-container, .controls-keyboard-container {
    gap: 8px;
  }

  .controls-mobile-container img {
    width: 48px;
    height: 48px;
  }

  .key {
    font-size: 22px;
  }

  .controls-labels-container {
    font-size: 24px;
    gap: 8px;
  }

  .table-top-scores {
    font-size: 24px;
    margin-top: -8px;
  }

  .end-screen {
    height: 100vh;
    width: 100%;
    top: 0;
  }

  .end-button {
    width: 80%;
    font-size: 32px;
    padding: 8px 0px;
  }
}

@media only screen and (max-width: 670px) {
  h1 {
    font-size: 54px;
    margin-top: 54px;
    margin-bottom: 54px;
  }

  .img-language {
    width: 30px;
    height: 30px;
  }

  .img-task-bar {
    width: 48px;
    height: 48px;
  }

  h2 {
    font-size: 32px;
  }

  :root {
    --selected-profile-container-size: 92px;
  }

  .start-button {
    width: 132px;
    font-size: 20px;
  }

  .width-score-button {
    width: 92px !important;
  }

  .end-button {
    font-size: 24px;
    padding: 4px 0px;
  }
}

@media only screen and (max-width: 540px) {
  h1 {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .img-language {
    width: 24px;
    height: 24px;
  }

  .img-task-bar {
    width: 36px;
    height: 36px;
  }

  h2 {
    font-size: 28px;
  }

  :root {
    --selected-profile-container-size: 72px;
  }

  .button {
    font-size: 16px;
    width: 120px;
  }

  .table-top-scores {
    font-size: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .img-orientation {
    width: 64px;
    height: 64px;
    margin-top: 32px;
    margin-bottom: 28px;
  }

  .text-orientation {
    font-size: 20px;
    padding: 4px 24px;
    margin-bottom: 24px;
  }
}

/*  *** HEIGHT ***  */

@media only screen and (max-height: 780px) {
  h1 {
    font-size: 64px;
    margin-top: 56px;
    margin-bottom: 56px;
  }

  .icon-imprint {
    position: static;
    margin-left: 12px;
  }
}

@media only screen and (max-height: 680px) {
  h1 {
    font-size: 60px;
    margin-top: 36px;
    margin-bottom: 32px;
  }
}

@media only screen and (max-height: 630px) {
  .wrapper-fullscreen {
    height: 100vw;
    justify-content: center;
  }

  h1 {
    display: none;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }

  .start-screen {
    height: 100vh;
  }

  .mobile-control-panel-side {
    width: 132px;
  }

  .mobile-control-button {
    width: 54px;
    height: 54px;
  }

  .mobile-control-panel-navigation {
    margin-bottom: -18px;
  }

  .container-input-score {
    gap: 28px;
    font-size: 22px;
    margin-top: -8px;
    margin-bottom: 28px;
  }

  .input-player-name {
    height: 24px;
    margin-bottom: 8px;
    font-size: 22px;
  }

  .end-screen {
    height: 100vh;
    width: 100%;
    top: 0;
  }

  .end-button {
    width: 460px;
    font-size: 30px;
    padding: 4px 0px;
  }
}

@media only screen and (max-height: 460px) {
  h2 {
    font-size: 36px;
    margin-top: 20px;
  }

  .start-button {
    font-size: 20px;
  }

  .mobile-control-button {
    width: 50px;
    height: 50px;
  }

  .headline-overlay {
    font-size: 32px;
    width: 75%;
    margin-top: -40px;
    margin-bottom: 24px;
  }

  .img-close-overlay {
    width: 52px;
    height: 52px;
  }

  .img-close-overlay:hover {
    width: 56px;
    height: 56px;
  }

  .imprint-text {
    font-size: 14px;
  }

  .instructions-wrapper-text {
    padding: 0px 96px;
    margin-top: 8px;
  }

  .intro-text {
    font-size: 16px;
  }

  .controls-mobile-container,  .controls-keyboard-container  {
    gap: 8px;
  }

  .controls-mobile-container img {
    width: 48px;
    height: 48px;
  }

  .key {
    font-size: 22px;
  }

  .controls-labels-container {
    font-size: 24px;
    gap: 8px;
  }

  .table-top-scores {
    font-size: 24px;
    margin-top: -8px;
  }
}

@media only screen and (max-height: 435px) {
  .header-start-screen {
    margin-top: -4px;
  }

  .img-language {
    width: 30px;
    height: 30px;
  }

  .img-task-bar {
    width: 48px;
    height: 48px;
  }

  .icon-imprint {
    width: 36px;
    height: 36px;
  }

  h2 {
    font-size: 32px;
    margin-top: 16px;
  }

  :root {
    --selected-profile-container-size: 112px;
  }

  .width-score-button {
    width: 92px !important;
  }

  .mobile-control-button {
    width: 48px;
    height: 48px;
  }

  .controls-container {
    margin-top: 0px;
    margin-bottom: 24px;
  }

  .controls-labels-container {
    font-size: 22px;
    gap: 6px;
  }

  .controls-mobile-container, .controls-keyboard-container {
    gap: 6px;
  }

  .controls-mobile-container img {
    width: 40px;
    height: 40px;
  }

  .key {
    font-size: 20px;
  }

  .controls-space-key {
    width: 172px;
  }
}

@media only screen and (max-height: 390px) {
  h2 {
    font-size: 28px;
    margin-top: 12px;
  }

  :root {
    --selected-profile-container-size: 92px;
  }

  .start-button {
    width: 132px;
    font-size: 18px;
  }

  .mobile-control-button {
    width: 44px;
    height: 44px;
  }

  .mobile-control-panel-side {
    width: 112px;
  }

  .mobile-navigation-button {
    width: 48px;
    height: 48px;
  }

  .controls-container {
    margin-top: -12px;
    margin-bottom: 8px;
  }

  .table-top-scores {
    font-size: 20px;
  }
}
