@media only screen and (max-width: 720px) {
    canvas {
      width: 100%;
    }
  
    .start-screen {
      width: 100%;
    }
  
    .headline-overlay {
      font-size: 32px;
  
    }
  
    .mobile-control-panel {
      justify-content: space-between;
      width: 90%;
      padding: 8px;
    }
    
    .mobile-control-panel-side {
      display: flex;
    }
  
    .end-screen {
      height: 100vh;
      width: 100%;
      top: 0;
    }
  
    .end-button {
      width: 80%;
      font-size: 32px;
      padding: 8px 0px;
    }
  }
  
  
  @media only screen and (max-width: 670px) {
  
  
    h1 {
      font-size: 54px;
      margin-top: 54px;
      margin-bottom: 54px;
    }
  
    .img-language {
      width: 30px;
      height: 30px;
    }
  
  
    .img-task-bar {
      width: 48px;
      height: 48px;
    }
  
  
    h2 {
      font-size: 32px;
    }
  
    .profile-container {
      width: 72px;
      height: 72px;
    }
  
    .start-button {
      width: 160px;
      font-size: 20px;
    }

    .end-button {
      font-size: 24px;
      padding: 4px 0px;
    }
  }
  
  
  
  @media only screen and (max-width: 540px) {
  
  
    h1 {
      font-size: 40px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  
    .img-language {
      width: 24px;
      height: 24px;
    }
  
    .img-task-bar {
      width: 36px;
      height: 36px;
    }
  
  
    h2 {
      font-size: 28px;
    }
  
    .profile-container {
      width: 72px;
      height: 72px;
    }
  
    .button {
      font-size: 16px;
      width: 120px;
  
  }
  }
  
  
  
  
  @media only screen and (max-height: 480px) {
    canvas {
      height: 100vh;
    }

    h1 {
        display: none;
      }
  
    .start-screen {
      height: 100vh;
    }
  
    .mobile-control-panel {
      justify-content: space-between;
      width: 90%;
      padding: 8px;
    }
    
    .mobile-control-panel-side {
      display: flex;
    }
  
    .mobile-control-panel-navigation {
      margin-bottom: -24px;
    }
  
    .end-screen {
      height: 100vh;
      width: 100%;
      top: 0;
    }
  
    .end-button {
      width: 520px;
      font-size: 32px;
      padding: 4px 0px;
    }
  
  }
  
  
  