:root {
  --selected-profile-container-size: 128px;
  --width-canvas: 720px;
  --height-canvas: 480px;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/game/background/bg.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: shantellSansExtraBold, sans-serif;
  scroll-behavior: smooth;
}

.wrapper-fullscreen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  background-color: black;
  display: block;
}

h1 {
  font-family: gorditasBold, sans-serif;
  font-size: 72px;
  margin-top: 72px;
  margin-bottom: 72px;
  color: #00A79D;
  filter: drop-shadow(2px 2px 1px #212127b0);
}

h2 {
  font-family: shantellSansExtraBold, sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(70, 70, 70);
  margin-bottom: 16px;;
}

p {
  margin: 0;
}

a, a:visited {
  text-decoration: none;
  color: #00A79D;
}

a:hover {
  cursor: pointer;
  color: #7AFADF;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
    font-family: shantellSansExtraBold, sans-serif;
    background-color: #00A79D;
    color: white;
    text-shadow: 1px 1px 1px rgb(105, 105, 105);
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid rgb(215, 218, 218);
    box-shadow: 0px 0px 10px rgb(206, 206, 206), 0px 0px 20px rgb(215, 216, 216);
}

.button:hover {
    background-color: #018B81;
}

.overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  background: rgba(0, 0, 0, 0.75); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

.overlay-content {
  width: 680px;
  max-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.80);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.container-close-overlay {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.img-close-overlay {
  width: 56px;
  height: 56px;
  border: 2px solid transparent
}

.img-close-overlay:hover {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none
}

.headline-overlay {
  width: 70%;
  font-size: 42px;
  margin-top: -32px;
  margin-bottom: 32px;
  color: #00A79D;
}

.img-orientation {
  width: 72px;
  height: 72px;
  filter:invert(1);
  margin-top: 40px;
  margin-bottom: 32px;
}

.text-orientation {
  font-size: 24px;
  padding: 4px 40px;
  margin-bottom: 40px;
}

.orientation-warning {
  background: rgba(0, 0, 0, 0.95); 
  z-index: 1001;
}

.instructions-wrapper-text {
  max-height: 480px;
  padding: 0px 82px;
  overflow-y: auto;
}

.intro-text {
  font-family: shantellSansMedium, sans-serif;
  font-size: 18px;
}

.intro-end {
  font-size: 36px;
  color: #00A79D;
}

.imprint-text {
  max-height: 480px;
  padding: 0px 80px;
  margin-bottom: 24px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.container-game {
  position: relative;
  display: flex;
  justify-content: center;
}

.mobile-control-panel {
  width: 680px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 12px 6px 12px;
  position: absolute;
  bottom: 4px;
  z-index: 1;
}

.mobile-control-button-mob-device {
    justify-content: space-between !important;
    width: 95% !important;
    padding: 8px !important;
}

.mobile-control-panel-side {
  width: calc(var(--width-canvas) * 0.2);
  display: none;
  justify-content: space-between;
  align-items: center;
}

.mobile-control-panel-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: -8px;
  gap: 8px
}

.mobile-control-button {
  width: calc(var(--height-canvas) * 0.12);
  height: calc(var(--height-canvas) * 0.12);
  background: white;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(206, 206, 206), 0px 0px 20px rgb(215, 216, 216);
  user-select: none;
}

.mobile-control-button img {
  width: 100%;
  height: 100%;
}

.mobile-navigation-button {
  width: calc(var(--height-canvas) * 0.11);
  height: calc(var(--height-canvas) * 0.11);
}

.mobile-navigation-button:hover {
  cursor: pointer;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background:  rgba(0, 0, 0, 0.85); 
}

::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Globale Scrollbar-Styling für Firefox */
html {
  scrollbar-width: thin; 
  scrollbar-color: #333  rgba(0, 0, 0, 0.85); 
}

.d-none {
    display: none;
}

